<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @RenderSection("Head", required: false)
</head>
<body>
    @RenderBody()
    <div>
        
    </div>
</body>
</html>
