@{
    ViewBag.Title = "Playground";
}
@if (TempData["error"] != null)
{
    <div class="error">
        @TempData["error"]
    </div>
}
@if (WebSecurity.IsAuthenticated)
{
    <div>
        Hi @WebSecurity.CurrentUserName!
        <a href="sessions/delete">Log out</a>
    </div>


    <canvas id="gameCanvas" width="1280" height="720" onmousedown='return false;'></canvas>

    <a href="javascript:void();" id="reset_board">Reset board</a>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/minesweeper_cocos2d.js"></script>
}
else
{
    <form method="post" action="sessions/create">
        <label for="username">Username:</label><br />
        <input name="username" type="text" /><br />
        <label for="username">Password:</label><br />
        <input name="password" type="password" /><br />
        <input type="submit" />
    </form>
    <p />
    <a href="register">Register</a>
}
@section Head{
    <link href="~/Content/Stylesheets/minesweeper.css" rel="stylesheet" />
}
